/* Bold HeadLine-------------         font-family: 'Barlow Condensed', sans-serif;            ----------------- */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap');
/* Normalize ----------------font-family: 'Abel', sans-serif;------------------*/
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
/* Style Italic Font---------         font-family: 'Abel', sans-serif; font-family: 'Shadows Into Light', cursive;            ------------------ */
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Shadows+Into+Light&display=swap'); 

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');



.center{
    text-align: center;
}       
.Discorver{
    color: rgb(6, 141, 6);
    text-align: center;
    font-size: 30px;
    font-family: 'Dancing Script';
    margin-top: 5%;
    transform: translateY(10px);
    transition: 0.5s;
}
.TextHadding{
    font-weight: 600;
    text-transform: uppercase;
    color: #01262C; 
    line-height: 1.2;
    text-align: center;
    cursor: pointer;
    position: relative;
    transition: 0.5s;
}
.Discorver:hover{
    color: #4AB102;
    letter-spacing: 3px;
}
.TextHaddinp{
    text-align: center;
    font-family: 'Abel', sans-serif;
    font-size: 1.1rem;
    cursor: pointer;
}
.TextHaddinp:hover{
    color: #1B1B1D;
}









/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
    width: 100%;
    background-size: cover;
    position: relative;
    min-height: 60vh;
    padding: 160px 0 60px 0;
  }
  
  .hero h2 {
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--color-secondary);
    font-family: var(--font-primary);
  }
  
  .hero h2 span {
    color: var(--color-primary);
  }
  
  .hero p {
    color: #4f4f5a;
    font-weight: 400;
    margin-bottom: 30px;
  }
  
  .hero .btn-book-a-table {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 36px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: linear-gradient(to right, #0C7400, #4AB102);
    box-shadow: 0 8px 28px #4AB102;
  }
  
  .hero .btn-book-a-table:hover {
    background: #0A414D;
    box-shadow: 0 8px 28px #0A414D;
  }
  
  .hero .btn-watch-video {
    font-size: 16px;
    transition: 0.5s;
    margin-left: 25px;
    color: var(--font-secondary);
    font-weight: 600;
  }
  
  .hero .btn-watch-video i {
    color: var(--color-primary);
    font-size: 32px;
    transition: 0.3s;
    line-height: 0;
    margin-right: 8px;
  }
  
  .hero .btn-watch-video:hover {
    color: var(--color-primary);
  }
  
  .hero .btn-watch-video:hover i {
    color: rgba(206, 18, 18, 0.8);
  }
  
  @media (max-width: 640px) {
    .hero h2 {
      font-size: 36px;
    }
  
    .hero .btn-get-started,
    .hero .btn-watch-video {
      font-size: 14px;
    }
  }


  .about .call-us {
    left: 10%;
    right: 10%;
    bottom: 10%;
    background-color: #8ad951;
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.08);
    padding: 20px;
    text-align: center;
  }
  
  .about .call-us h4 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5px;
    font-family: var(--font-default);
  }
  
  .about .call-us p {
    font-size: 28px;
    font-weight: 700;
    color: var(--color-primary);
  }
  






  .about .play-btn {
    width: 94px;
    height: 94px;
    background: radial-gradient(circle at center, #4AB102 50%, transparent 52%);
    border-radius: 50%;
    display: block;
    position: absolute;
    left: calc(50% - 47px);
    top: calc(50% - 47px);
    overflow: hidden;
  }
  
  .about .play-btn:before {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    animation-delay: 0s;
    animation: pulsate-btn 2s;
    animation-direction: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid #4AB102;
    top: -15%;
    left: -15%;
    background: rgba(198, 16, 0, 0);
  }
  
  .about .play-btn:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  
  .about .play-btn:hover:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 200;
    animation: none;
    border-radius: 0;
  }
  
  .about .play-btn:hover:after {
    border-left: 15px solid #4AB102;
    transform: scale(20);
  }
  
  @keyframes pulsate-btn {
    0% {
      transform: scale(0.6, 0.6);
      opacity: 1;
    }
  
    100% {
      transform: scale(1, 1);
      opacity: 0;
    }
  }
                  
                           /* -------------------- */
                              /*Mamber section   */
                           /* ---------------------*/
.food-team-items {
    margin-top: -100px
}

.food-team-item {
    margin-top: 100px;
    padding: 20px 25px 0 25px;
    position: relative;
    height: 300px;
    background: #0e1317;
    text-align: center
}

.food-team-item .desc .name {
    color: white;
    font-family: 'Dancing Script';
    margin: 0 0 5px 0;
    font-size: 18px;
    font-weight: 500
}

.food-team-item .desc .subname {
    color: white;
    font-family: sans-serif;

}

.food-team-item .image {
    margin: 20px auto 0 auto;
    position: relative;
    height: 246px;
    border-radius: 5px;
    -webkit-border-radius: 5px
}

.food-team-item .image:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #090c0f;
    opacity: 0;
    -o-transition: all .7s cubic-bezier(.3, 0, .3, 1);
    transition: all .7s cubic-bezier(.3, 0, .3, 1);
    -webkit-transition: all .7s cubic-bezier(.3, 0, .3, 1);
    z-index: 2
}

.food-team-item .image img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center
}

.food-team-item .image:hover:before {
    opacity: .75
}

.food-team-item .image:hover .info {
    opacity: 1
}

.food-team-item .image:hover .social {
    opacity: 1
}

.food-team-item .info {
    padding: 20px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    text-align: left;
    opacity: 0;
    -o-transition: all .7s cubic-bezier(.3, 0, .3, 1);
    transition: all .7s cubic-bezier(.3, 0, .3, 1);
    -webkit-transition: all .7s cubic-bezier(.3, 0, .3, 1);
    z-index: 3
}

.food-team-item .info .label {
    font-size: 16px;
    color: #fff
}

.food-team-item .social {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
    font-size: 0;
    text-align: center;
    opacity: 0;
    -o-transition: all .7s cubic-bezier(.3, 0, .3, 1);
    transition: all .7s cubic-bezier(.3, 0, .3, 1);
    -webkit-transition: all .7s cubic-bezier(.3, 0, .3, 1);
    z-index: 3
}

.food-team-item .social a {
    margin: 6px 3px 0 3px;
    display: inline-block;
    vertical-align: top;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: #fff;
    font-size: 16px;
    color: #0A262C;;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-transition: all .7s cubic-bezier(.3, 0, .3, 1);
    transition: all .7s cubic-bezier(.3, 0, .3, 1);
    -webkit-transition: all .7s cubic-bezier(.3, 0, .3, 1)
}

.food-team-item .social a:hover {
    color: #fff;
    background: #0A262C;
}






                           /* -------------------- */
                              /*Client & sucsess*/
                           /* ---------------------*/
.Clientphoto,
.Successimage{
    display: block;
    margin-top: 40%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 100%;
}
.Clienttitle{
    color: #4AB102;
    font-size: 15px;
}

.textright{
    text-align: right;
}
.textright p{
    margin-top: 10%;
    font-size: 18px;
    font-weight: 600;
    color: rgb(59, 59, 59);
}
h5{
    color: #4AB102;
}
.Founder{
    color: grey;
    font-size: 15px;
    font-weight: 600;
}
.date{
    font-size: 15px;
    color: #FF0000;
    margin: 12px 0;
}
.lorem{
    font-size: 18px;
}
.lorem:hover{
    color: #4AB102;
}
.Read{
    font-size: 13px;
    transition: 0.5s;
}
.Read:hover{
    letter-spacing: 2px;
    color: #FF0000;
}
.pointer{
    cursor: pointer;
}


                          /* --------------------- */
                             /* Numbering Section */
                          /* --------------------- */

.section.food-numbers {
    padding: 70px 0
}

.food-numbers-items {
    margin-top: -50px
}

.food-numbers-item {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.food-numbers-item .num {
    font-size: 60px;
    line-height: 1;
    font-family: Oswald;
    color: #0A414D;
    font-weight: 300
}

.food-numbers-item .desc {
    margin-left: 20px
}

.food-numbers-item .name {
    font-size: 17px;
    margin: 0 0 10px 0
}




@media screen and (max-width: 992px){
    .other_content,
    .details
    {
        display: none;
    }
    .othernavbar{
        background-image: none;
    }
}
