@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.Discorver{
    color: rgb(6, 141, 6);
    text-align: center;
    font-size: 30px;
    font-family: 'Dancing Script';
    margin-top: 5%;
    transform: translateY(10px);
    transition: 0.5s;
}
.TextHadding{
    font-weight: 600;
    text-transform: uppercase;
    color: #01262C; 
    line-height: 1.2;
    text-align: center;
    cursor: pointer;
    position: relative;
    transition: 0.5s;
}
.Discorver:hover{
    color: #4AB102;
    letter-spacing: 3px;
}
.TextHaddinp{
    text-align: center;
    font-family: 'Abel', sans-serif;
    font-size: 1.1rem;
    cursor: pointer;
}
.TextHaddinp:hover{
    color: #1B1B1D;
}

                           /* -------------------- */
                             /*Number section   */
                           /* ---------------------*/
.Mamber{
    margin: 15vh 0;
}
.Mamber .num{
    color: #0A262C;
    font-size: 60px;
    font-weight: bolder;
    cursor: pointer;
}

.Mamber .name{
    color: #0A262C;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

                        