/* Bold HeadLine-------------         font-family: 'Barlow Condensed', sans-serif;            ----------------- */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap');
/* Normalize ----------------font-family: 'Abel', sans-serif;------------------*/
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
/* Style Italic Font---------         font-family: 'Abel', sans-serif; font-family: 'Shadows Into Light', cursive;            ------------------ */
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Shadows+Into+Light&display=swap'); 



*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(245, 245, 245);
}


/* For Navber background image */
.headerbackground{
    background-image: url(/images/Banner-1.jpg);
  }




.Poductmt{
    margin-top: 100px;
}
/* Image */
.image{
    cursor: pointer;
    border: 100%;
    border: 10px solid rgb(245, 245, 245);
    border-radius: 5px;
}
.image:hover{
    border: none;
}
h5{
    font-size: 30px;
    font-family: 'Barlow Condensed', sans-serif;
}
.price1{
    font-size: 25px;
    text-decoration: line-through;
    color: #BEBDBC;
}
.price2{
    text-decoration: line-through;
    padding: 0 10px;
    color: #0C7400; 

}

.quantity {
    width: 80px;
    background: transparent;
    text-align: center;
    border: 2px solid #bcbcbc;
    color: #061738;
}

.quantity input{
    max-width: 85%;
    border: none;
    background: transparent;
    margin-left: 10px;
    padding: 7px 20px;
}

.quantity_num {
    margin: 0px 10px;
}

.text-body{
    margin-left: 30px;
}
.ml{
    font-size: 15px;
    border: none;
    background-color: #72c934;
    color: white;
    padding: 3PX 5PX;
}
h2{
    font-size: 50px;
    font-weight: 700;
    color: #0A262C;
}






                        /* ------------------------- */
                           /* Best Selling Section */
                        /* ------------------------- */
.card__container img {
  display: block;
  max-width: 100%;
}


.card__article {
  position: relative;
  overflow: hidden;
  margin-top: 20px;
}

.card__img {
  border-radius: 10px;
  height: 100%;
  width: 100%;
}


.card__data {
  width: 100%;
  background-color: rgb(245, 245, 245);
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 24px gray;
  position: absolute;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s 1s;
}


.card__title {
    color: #01262C;
    font-size: 20px;
}

.card__button {
    color: rgb(245, 245, 245);
    padding: 7px 15px;
    border-radius: 5px;
    background-color: #03262c;
    text-decoration: none;
    transition: 0.5s;
}

/* Naming animations in hover */
.card__article:hover .card__data {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity .3s;
}

.card__article:hover {
  animation: remove-overflow 2s forwards;
}

.card__article:not(:hover) {
  animation: show-overflow 2s forwards;
}

.card__article:not(:hover) .card__data {
  animation: remove-data 1s forwards;
}

/* Card animation */
@keyframes show-data {
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(-7rem);
  }
}


@keyframes remove-data {
  0% {
    transform: translateY(-7rem);
  }
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(.5rem);
  }
}
                          
